







# EditorConfig is awesome: https://EditorConfig.org

















# top-most EditorConfig file








root = true

















# Unix-style newlines with a newline ending every file








[*]








charset = utf-8








end_of_line = lf








insert_final_newline = true








trim_trailing_whitespace = true

















# Matches multiple files with brace expansion








# Set default PHP rules:








[*.php]








indent_style = space








indent_size = 4








tab_width = 4








trim_trailing_whitespace = true








insert_final_newline = true

















# Matches the exact files either package.json or .travis.yml








[{package.json,.travis.yml}]








indent_style = space








indent_size = 2

















# Set default rules for all SCSS files








[*.scss]








indent_style = space








indent_size = 2

















# Set default rules for all JS files








[*.js]








indent_style = space








indent_size = 2

















# Matches multiple files with brace expansion








# Set default rules for all HTML and Markdown files








[{*.html,*.md}]








indent_style = space








indent_size = 2

















# Set default rules for all JSON files








[*.json]








indent_style = space








indent_size = 2

















# Set default rules for all CSS files








[*.css]








indent_style = space








indent_size = 4

















# Matches any file in the build directory








[build/*]








indent_style = space








indent_size = 2

















# Matches any file in the src/js directory








[src/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the inc directory








[inc/*]








indent_style = space








indent_size = 4

















# Matches any file in the template-parts directory








[template-parts/*]








indent_style = space








indent_size = 4

















# Matches any file in the page-templates directory








[page-templates/*]








indent_style = space








indent_size = 4

















# Matches any file in the blocks directory








[blocks/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/css directory








[assets/css/*]








indent_style = space








indent_size = 4

















# Matches any file in the assets/js directory








[assets/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/icons directory








[assets/icons/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/images directory








[assets/images/*]








indent_style = space








indent_size = 2

















# Matches any file in the docs/themes/{{THEME_SLUG}} directory








[docs/themes/nolan-young-showcase-theme-x01/*]








indent_style = space








indent_size = 4

















# Matches any file in the .ai directory








[.ai/*]








indent_style = space








indent_size = 2

















# Matches any file in the root directory








[*.{php,scss,js,json,css,html,md}]








indent_style = space








indent_size = 4

















# Matches any file in the src/scss directory








[src/scss/*]








indent_style = space








indent_size = 2

















# Matches any file in the src/js directory








[src/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the inc directory








[inc/*]








indent_style = space








indent_size = 4

















# Matches any file in the template-parts directory








[template-parts/*]








indent_style = space








indent_size = 4

















# Matches any file in the page-templates directory








[page-templates/*]








indent_style = space








indent_size = 4

















# Matches any file in the blocks directory








[blocks/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/css directory








[assets/css/*]








indent_style = space








indent_size = 4

















# Matches any file in the assets/js directory








[assets/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/icons directory








[assets/icons/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/images directory








[assets/images/*]








indent_style = space








indent_size = 2

















# Matches any file in the docs/themes/{{THEME_SLUG}} directory








[docs/themes/nolan-young-showcase-theme-x01/*]








indent_style = space








indent_size = 4

















# Matches any file in the .ai directory








[.ai/*]








indent_style = space








indent_size = 2

















# Matches any file in the root directory








[*.{php,scss,js,json,css,html,md}]








indent_style = space








indent_size = 4

















# Matches any file in the src/scss directory








[src/scss/*]








indent_style = space








indent_size = 2

















# Matches any file in the src/js directory








[src/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the inc directory








[inc/*]








indent_style = space








indent_size = 4

















# Matches any file in the template-parts directory








[template-parts/*]








indent_style = space








indent_size = 4

















# Matches any file in the page-templates directory








[page-templates/*]








indent_style = space








indent_size = 4

















# Matches any file in the blocks directory








[blocks/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/css directory








[assets/css/*]








indent_style = space








indent_size = 4

















# Matches any file in the assets/js directory








[assets/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/icons directory








[assets/icons/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/images directory








[assets/images/*]








indent_style = space








indent_size = 2

















# Matches any file in the docs/themes/{{THEME_SLUG}} directory








[docs/themes/nolan-young-showcase-theme-x01/*]








indent_style = space








indent_size = 4

















# Matches any file in the .ai directory








[.ai/*]








indent_style = space








indent_size = 2

















# Matches any file in the root directory








[*.{php,scss,js,json,css,html,md}]








indent_style = space








indent_size = 4

















# Matches any file in the src/scss directory








[src/scss/*]








indent_style = space








indent_size = 2

















# Matches any file in the src/js directory








[src/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the inc directory








[inc/*]








indent_style = space








indent_size = 4

















# Matches any file in the template-parts directory








[template-parts/*]








indent_style = space








indent_size = 4

















# Matches any file in the page-templates directory








[page-templates/*]








indent_style = space








indent_size = 4

















# Matches any file in the blocks directory








[blocks/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/css directory








[assets/css/*]








indent_style = space








indent_size = 4

















# Matches any file in the assets/js directory








[assets/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/icons directory








[assets/icons/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/images directory








[assets/images/*]








indent_style = space








indent_size = 2

















# Matches any file in the docs/themes/{{THEME_SLUG}} directory








[docs/themes/nolan-young-showcase-theme-x01/*]








indent_style = space








indent_size = 4

















# Matches any file in the .ai directory








[.ai/*]








indent_style = space








indent_size = 2

















# Matches any file in the root directory








[*.{php,scss,js,json,css,html,md}]








indent_style = space








indent_size = 4

















# Matches any file in the src/scss directory








[src/scss/*]








indent_style = space








indent_size = 2

















# Matches any file in the src/js directory








[src/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the inc directory








[inc/*]








indent_style = space








indent_size = 4

















# Matches any file in the template-parts directory








[template-parts/*]








indent_style = space








indent_size = 4

















# Matches any file in the page-templates directory








[page-templates/*]








indent_style = space








indent_size = 4

















# Matches any file in the blocks directory








[blocks/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/css directory








[assets/css/*]








indent_style = space








indent_size = 4

















# Matches any file in the assets/js directory








[assets/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/icons directory








[assets/icons/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/images directory








[assets/images/*]








indent_style = space








indent_size = 2

















# Matches any file in the docs/themes/{{THEME_SLUG}} directory








[docs/themes/nolan-young-showcase-theme-x01/*]








indent_style = space








indent_size = 4

















# Matches any file in the .ai directory








[.ai/*]








indent_style = space








indent_size = 2

















# Matches any file in the root directory








[*.{php,scss,js,json,css,html,md}]








indent_style = space








indent_size = 4

















# Matches any file in the src/scss directory








[src/scss/*]








indent_style = space








indent_size = 2

















# Matches any file in the src/js directory








[src/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the inc directory








[inc/*]








indent_style = space








indent_size = 4

















# Matches any file in the template-parts directory








[template-parts/*]








indent_style = space








indent_size = 4

















# Matches any file in the page-templates directory








[page-templates/*]








indent_style = space








indent_size = 4

















# Matches any file in the blocks directory








[blocks/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/css directory








[assets/css/*]








indent_style = space








indent_size = 4

















# Matches any file in the assets/js directory








[assets/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/icons directory








[assets/icons/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/images directory








[assets/images/*]








indent_style = space








indent_size = 2

















# Matches any file in the docs/themes/{{THEME_SLUG}} directory








[docs/themes/nolan-young-showcase-theme-x01/*]








indent_style = space








indent_size = 4

















# Matches any file in the .ai directory








[.ai/*]








indent_style = space








indent_size = 2

















# Matches any file in the root directory








[*.{php,scss,js,json,css,html,md}]








indent_style = space








indent_size = 4

















# Matches any file in the src/scss directory








[src/scss/*]








indent_style = space








indent_size = 2

















# Matches any file in the src/js directory








[src/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the inc directory








[inc/*]








indent_style = space








indent_size = 4

















# Matches any file in the template-parts directory








[template-parts/*]








indent_style = space








indent_size = 4

















# Matches any file in the page-templates directory








[page-templates/*]








indent_style = space








indent_size = 4

















# Matches any file in the blocks directory








[blocks/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/css directory








[assets/css/*]








indent_style = space








indent_size = 4

















# Matches any file in the assets/js directory








[assets/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/icons directory








[assets/icons/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/images directory








[assets/images/*]








indent_style = space








indent_size = 2

















# Matches any file in the docs/themes/{{THEME_SLUG}} directory








[docs/themes/nolan-young-showcase-theme-x01/*]








indent_style = space








indent_size = 4

















# Matches any file in the .ai directory








[.ai/*]








indent_style = space








indent_size = 2

















# Matches any file in the root directory








[*.{php,scss,js,json,css,html,md}]








indent_style = space








indent_size = 4

















# Matches any file in the src/scss directory








[src/scss/*]








indent_style = space








indent_size = 2

















# Matches any file in the src/js directory








[src/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the inc directory








[inc/*]








indent_style = space








indent_size = 4

















# Matches any file in the template-parts directory








[template-parts/*]








indent_style = space








indent_size = 4

















# Matches any file in the page-templates directory








[page-templates/*]








indent_style = space








indent_size = 4

















# Matches any file in the blocks directory








[blocks/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/css directory








[assets/css/*]








indent_style = space








indent_size = 4

















# Matches any file in the assets/js directory








[assets/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/icons directory








[assets/icons/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/images directory








[assets/images/*]








indent_style = space








indent_size = 2

















# Matches any file in the docs/themes/{{THEME_SLUG}} directory








[docs/themes/nolan-young-showcase-theme-x01/*]








indent_style = space








indent_size = 4

















# Matches any file in the .ai directory








[.ai/*]








indent_style = space








indent_size = 2

















# Matches any file in the root directory








[*.{php,scss,js,json,css,html,md}]








indent_style = space








indent_size = 4

















# Matches any file in the src/scss directory








[src/scss/*]








indent_style = space








indent_size = 2

















# Matches any file in the src/js directory








[src/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the inc directory








[inc/*]








indent_style = space








indent_size = 4

















# Matches any file in the template-parts directory








[template-parts/*]








indent_style = space








indent_size = 4

















# Matches any file in the page-templates directory








[page-templates/*]








indent_style = space








indent_size = 4

















# Matches any file in the blocks directory








[blocks/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/css directory








[assets/css/*]








indent_style = space








indent_size = 4

















# Matches any file in the assets/js directory








[assets/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/icons directory








[assets/icons/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/images directory








[assets/images/*]








indent_style = space








indent_size = 2

















# Matches any file in the docs/themes/{{THEME_SLUG}} directory








[docs/themes/nolan-young-showcase-theme-x01/*]








indent_style = space








indent_size = 4

















# Matches any file in the .ai directory








[.ai/*]








indent_style = space








indent_size = 2

















# Matches any file in the root directory








[*.{php,scss,js,json,css,html,md}]








indent_style = space








indent_size = 4

















# Matches any file in the src/scss directory








[src/scss/*]








indent_style = space








indent_size = 2

















# Matches any file in the src/js directory








[src/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the inc directory








[inc/*]








indent_style = space








indent_size = 4

















# Matches any file in the template-parts directory








[template-parts/*]








indent_style = space








indent_size = 4

















# Matches any file in the page-templates directory








[page-templates/*]








indent_style = space








indent_size = 4

















# Matches any file in the blocks directory








[blocks/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/css directory








[assets/css/*]








indent_style = space








indent_size = 4

















# Matches any file in the assets/js directory








[assets/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/icons directory








[assets/icons/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/images directory








[assets/images/*]








indent_style = space








indent_size = 2

















# Matches any file in the docs/themes/{{THEME_SLUG}} directory








[docs/themes/nolan-young-showcase-theme-x01/*]








indent_style = space








indent_size = 4

















# Matches any file in the .ai directory








[.ai/*]








indent_style = space








indent_size = 2

















# Matches any file in the root directory








[*.{php,scss,js,json,css,html,md}]








indent_style = space








indent_size = 4

















# Matches any file in the src/scss directory








[src/scss/*]








indent_style = space








indent_size = 2

















# Matches any file in the src/js directory








[src/js/*]








indent_style = space








indent_size = 2

















# Matches any file in the inc directory








[inc/*]








indent_style = space








indent_size = 4

















# Matches any file in the template-parts directory








[template-parts/*]








indent_style = space








indent_size = 4

















# Matches any file in the page-templates directory








[page-templates/*]








indent_style = space








indent_size = 4

















# Matches any file in the blocks directory








[blocks/*]








indent_style = space








indent_size = 2

















# Matches any file in the assets/css directory








[assets/css/*]








indent_style = space








indent_size =


